

.categories {
    display: flex;
    margin-top: 51px;
  
    width: 100%; 
    padding: 1rem 0rem 1rem 7rem;
    gap: 10px;
    background-color: white;
   position: fixed;
   margin-left: 3rem;
   top: -2px;
   overflow-x: auto; 
   scrollbar-width: none; 
   z-index: 100;
     
  }
 
  .categories button {
    background-color: #f0ecec;
    color: black;
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 32px; 
    min-width: fit-content;
   
  }
  .categories button:hover{
    background-color: rgb(207, 208, 210);
    cursor: pointer;
}

  .barre{
    display: flex;
    padding: 3rem 0px 0px 6rem;
    gap: 10px;
    margin-left: 6px;
    flex-direction: column;
    position: fixed;
  width: 100%; 
  margin-top: 1rem;
 
  }
  .barre button {
    background-color: #f0ecec;
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    cursor: pointer;
   
     
  }
  .barre button:hover{
    cursor: pointer;
    background-color: rgb(207, 208, 210);
  }
  
body{
    color: black;
    background: white;
  
}
.recherche{
    width: 525px;
    HEIGHT: 40px;
    color: black;
    border-radius: 40px 0 0 40px;
    background-color: white;
    align-items: center;
    border: 1px solid;
    border-right: 0;
    cursor: text;
    display: flex;
    position: relative;
   
    padding: 0 4px;
    margin-left: 6rem;
 
}
.search{
    width: 60px;
  
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    border: 1px solid;
    background-color: #f1f1f1;
}
.youtsearch{
    display: flex;
}
.mic-button{
    border-radius: 50%;
    border: none;
    margin-left: 1rem;
    height: 41px;
    width: 41px;
}

.left{
    width: 27px;
    height: 2px;
    background: grey;
    border-radius: 20px;
}

.leftt{
    display: flex;
        gap: 7px;
      scale: 0.7;  
        flex-direction: column;
        margin-left: 20px;
        margin-top: 3px;
        
}
.youtubeleft
{

        display: flex;
       gap: 24px;
}
.logo
{
    width: 90px;
    height: 25px;
    BACKGROUND: white;
    border-radius: 8px;
   
    
   
    
}

.yotib{

    width: 100%;
    HEIGHT: 100%;
    object-fit: cover;
    BORDER-RADIUS: 8px; 

   
}

.cercle{
    width: 33px;
    HEIGHT: 33px;
    BACKGROUND: white;
    BORDER-RADIUS: 50%;
    margin-right: 15px;
}
.cerclee{
    width: 85px;
    HEIGHT: 37px;
    BACKGROUND: white;
    BORDER-RADIUS: 38%;
    margin-right: 15px;
}
.right{
    display: flex;
    gap: 2px;
    margin-right: 20px;
    
}


.cloche{
    width: 100%;
    HEIGHT: 100%;
   
}
.creer{
    width: 100%;
    HEIGHT: 100%;
    object-fit: cover;
    BORDER-RADIUS: 38%;
    margin-right: 22px;
}

.photo{
    width: 100%;
    HEIGHT: 100%;
    BACKGROUND: GREY;
    BORDER-RADIUS: 50%; 
}
.top{
    display: flex;
padding-top: 20px;
align-items: center;
    justify-content: space-between;
    position: fixed;
    top: -12px;  
    left: 0;  
    width: 100%; 
    background-color: white
}

.carre{
    width: 374px;
    HEIGHT: 222px;
    background: grey;
    border-radius: 8%;
}

.divvideo{
    width: 100%;
    HEIGHT: 100%;
    border-radius: 8%;
}
.profile{
    width: 35px;
    HEIGHT: 35px;
    BORDER-RADIUS: 50%;
}



.rec1{
    width: 285px;
    height: 37px;
    background: white;
    border-radius: 9%;
}
.rec2{
    width: 220px;
    height: 37px;
    background: white;
    color: grey;
    border-radius: 9%;
}
.rec{

     display: flex;
        gap: 5px;
        flex-direction: column;
}
.t7t{
    display: flex;
    gap: 10px;
}

.yout{
    margin-left: 156px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.a1{
    
        display: flex;
        gap: 5px;
        flex-direction: column;
}
.trr{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-top: 27px;
    margin-left: 50px;
}

.may {
    width: 100%;
    HEIGHT: 100%;
    background: grey;
    border-radius: 8%;
    background-size: 100%;
}


.all{
    display: flex;
    gap: 10px;
    margin-right: 24px;
        margin-top: 10px;
    margin-left: -100px;  
}



.Acceuil{
    
    background-color: #fcf7f7;
   
    width: 68px;
    HEIGHT: 69px;
    border: none;
    padding: 0px 13px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    
}

 .barre button {
    background-color: #fcf7f7;
    width: 68px;
  HEIGHT: 69px;
    border: none;
    padding: 0px 13px;
    border-radius: 12px;
    cursor: pointer;
     
  }
 .bar button:hover{
    cursor: pointer;
    background-color: rgb(11, 35, 83);
  }


.Acceuil{
    width: 100%;
    HEIGHT: 100%;
    margin-left: -13px;
    background-color: white;
}

.acceuil{
    width: 68px;
    HEIGHT: 69px;
}
.shorts{
    width: 68px;
    HEIGHT: 69px;
    margin-left: -13px;
    background-color: white;
}
.Abonnement{
    width: 68px;
    HEIGHT: 69px;
    margin-left: -13px;
    background-color: white;
}
.vous{
    width: 68px;
    HEIGHT: 69px;
    margin-left: -13px;
    background-color: white;
}

.shortslogo{
    width: 89px;
    height: 48px;
    border-radius: 8px;
    margin-left: -50px;
}
.shortsvid{
    margin-top: 25px;
    margin-left: 100px;
}


.short{
    
    display: flex;    
        justify-content: end;
        margin-top: 27px;
        margin-left: 50px;
}

.rectagle{
    background-color: grey;
    width: 273px;
    HEIGHT: 391px;
    border-radius: 5%;
    MARGIN-LEFT: 42px;
    margin-top: 15px;
    margin: 0px -40px 0px -5px;
}
.fashion{
    width: 100%;
    HEIGHT: 100%;
    border-radius: 5%;  
}

.shorttext{
    margin-top: 10px;
    
}
